
<div class="bkgreen">
	
	<div class = "main" ng-controller = "myCtrl">




		<br /><br />
			
	<div class = inpinside>	

		<p class="semname"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GPA | GP &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Credits</p> <br />


		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 1 | Subject 1 </span>&nbsp;&nbsp; &nbsp; <input type="number" ng-model="sem1gpa"> 				
						 	   						 &nbsp;&nbsp; &nbsp;	<input type="number" ng-model="sem1credits"></p>

		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 2 | Subject 2 </span>&nbsp;&nbsp;  &nbsp;  <input type="number" ng-model="sem2gpa">
							 						&nbsp;&nbsp;  &nbsp;	    <input type="number" ng-model="sem2credits"></p>

		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 3 | Subject 3 </span>&nbsp;&nbsp; &nbsp;  <input type="number" ng-model="sem3gpa">
							  						&nbsp;&nbsp; &nbsp;	    <input type="number" ng-model="sem3credits"></p>

		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 4 | Subject 4 </span>&nbsp;&nbsp; &nbsp;  <input type="number" ng-model="sem4gpa">
													&nbsp;&nbsp; &nbsp;	    <input type="number" ng-model="sem4credits"></p>

		<p class="maintext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 5 | Subject 5 </span>&nbsp;&nbsp; &nbsp;  <input type="number" ng-model="sem5gpa">
													&nbsp;&nbsp; &nbsp;	    <input type="number" ng-model="sem5credits"></p>

		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 6 | Subject 6 </span>&nbsp;&nbsp; &nbsp;  <input type="number" ng-model="sem6gpa">
													&nbsp;&nbsp; &nbsp;        <input type="number" ng-model="sem6credits"></p>

		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 7 | Subject 7 </span>&nbsp;&nbsp; &nbsp;  <input type="number" ng-model="sem7gpa">
													&nbsp;&nbsp; &nbsp;	    <input type="number" ng-model="sem7credits"></p>

		<p class="maintext"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class = "semname">Semester 8 | Subject 8 </span>&nbsp;&nbsp; &nbsp;  <input type="number" ng-model="sem8gpa">
													&nbsp;&nbsp; &nbsp;        <input type="number" ng-model="sem8credits"></p>

		</div>

							<hr id="myhr">


	
		<p id = "cgpaout" ng-cloak> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CGPA | GPA : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{((sem1gpa*sem1credits)+(sem2gpa*sem2credits)+(sem3gpa*sem3credits)+(sem4gpa*sem4credits)+(sem5gpa*sem5credits)+(sem6gpa*sem6credits)+(sem7gpa*sem7credits)+(sem8gpa*sem8credits))/(sem1credits+sem2credits+sem3credits+sem4credits+sem5credits+sem6credits+sem7credits+sem8credits) | number:2}} </p>

		
		<br />
		
        </div>
		
</div>

<div id = "works"class="section-two">
		<br /><br />
		<p class="sub-heading">How Marksheet Works</p>
		<br /><br /><br /><br />
		
		<div class="second-pic">

		<img src="/images/pic-one.png" class = "second-image" alt="First Pic">
			
				
				<div id ="desc-one">
					<p id="using-marksheet">Using marksheet is simple, Just Enter your GPA of a particular semester in the left field and the total credits for that semester in the right field and you're good to go.</p>
				</div>
			
		</div>

		<br /><br /><br /><br /><br /><br /><br /><br /><br />

		<div class="third-pic">

		<img src="/images/pic-two.png" alt="Second Pic" class = "third-image">

				<div id ="desc-two">
					<p id="using-marksheet">You can even calculate your GPA for a particular semester, Just enter the grade point for the particular course in the left field and credits for that course in the right field.</p>
				</div>
		
		</div>
		<br /><br /><br /><br />

</div>

<div id = "about-it"class="section-three">
		
		<br /><br />
		<p id="sub-heading-about">About</p>
		<br /><br />
		<div class="about-content">
		<p id="about-marksheet"> Marksheet was created to address a very simple problem faced my most students, To calculate and predict their CGPA or GPA. One would have to do tedious calculations on the calculator to know how much they must score to reach a particular goal. Not anymore ! Marksheet makes it simple to predict how much one would need to score to get a particular amount of gpa</p>
		</div>

		<br /><br /><br />

</div>