<!DOCTYPE html>
<html lang="en"  ng-app="gpaCal">
<head>
	<meta charset="UTF-8">
	<title> Marksheet </title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/styleapp.css">
	<script type="text/javascript" src="/applogic.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>


<body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"> alert(" javascript is loading on this page"); </script>
<div class="navigation">
	<nav class="fixed-nav-bar">
  		<!-- Fixed navigation bar content -->
  		<a id="navbarmark" href="#"> Marksheet </a>
  		<ul id = "menu" class="nav-list">
  			<li class="nav-item"><a id="nav-anchor-one" class="nav-anchor" href="#sub-heading">Sign In  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  			<li class="nav-item"><a class="nav-anchor" href="#about-it">About  &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  			<li class="nav-item"><a class="nav-anchor" href="#works">How it Works  &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  			
  			
  		</ul>
	</nav>
</div>
    <br /><br /><br /><br /><br />

	
<%=yield%>

<div class="section-two">
		
		<br />
		<p id="footer-text">© 2016 Marksheet Created by <a href="http://namankamra.com" target="_blank">Naman Kamra</a></p>
		

</div>


		

</body>