.navbar-header {

	height: 60px;
}

.bkgreen{

	background-color: #5FCF80;
}

.main { 

	width:800px; margin:0 auto;



}

input {

	
}

#cgpaout{

	font-size: 30px;
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	text-align: left;
	margin-left: 175px;
	
	 
}

#cgpaans{

		font-size: 30px;
		color: #fff;
		font-family: 'Varela Round', sans-serif;
		
		

}

.maintext {

	font-size: 25px;
	align: right;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	

}

#myhr { 
    
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #fff;
   
}

.inpinside{

	
	align-items:center;
	margin:0 auto;
}

.semnamediv {

	font-size: 25px;
	font-family: 'Varela Round', sans-serif;
	font-style: normal;
	font-variant: normal;
	line-height: 20px;
	color: #fff;
	font-weight: normal;
	text-align: center;
	
	
	
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: white;

}



ul#menu li {

	color: #292E51;
    padding: 0;
    display: inline;
    font-size: 25px;
    list-style: none;
	float: right;
	margin-top: 28px;	
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold; 



    
}

#navbarmark {
	
	color: #5FCF80;
    padding: 0;
    font-size: 28px;
    list-style: none;
	float: left;
	margin-top: 28px;
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
    padding-left: 200px;

}

.nav-anchor {

	color: #616161;
	font-family: 'Varela Round', sans-serif;


}



.navigation {

	clear: left;
	padding-right: 25px;
}

.nav-list > li > a:hover{color:#5FCF80; text-decoration: none;}
nav-list > li > a:visited{color:#292E51; text-decoration: none;}
.nav-list > li > a:focus{color:#5FCF80; text-decoration: none;}

.section-two {

	width:800px; margin:0 auto;
}

.sub-heading {

	text-align: center;
	font-size: 30px;
	font-family: 'Varela Round', sans-serif;
}

.third-image {

	
	width:304px;height:228px; border: 2px solid #00786A; float: right;
}

.second-image {

	
	width:304px;height:228px; border: 2px solid #00786A; float: left;
}

.second-pic {

	
	display: inline-block;
}

.third-pic {

	display: inline-block;
}

#using-marksheet {

	
	font-family: 'Varela Round', sans-serif;
	font-size: 26px;
	text-align: justify;
	align:right;

	

	
	
	

}

#desc-one{

	padding-top: 0px;
	padding-left: 400px;
	

}

#desc-two{

	padding-top: 0px;
	padding-right: 400px;
	

}

.section-three{

	background-color: #5FCF80;
}

#sub-heading-about {

	color: white;
	text-align: center;
	font-size: 32px;
	font-family: 'Varela Round', sans-serif;	
}

#about-marksheet {

	color: white;
	text-align: center;
	font-size: 28px;
	font-family: 'Varela Round', sans-serif;
	float: center;

}

.about-content {

	width:750px; margin:0 auto;
}

#footer-text {

	text-align: center;
	color: #5FCF80;
	font-size: 18px;
	font-family: 'Varela Round', sans-serif;
	padding-bottom: 15px;

}

.inputno {

	
	width: 15%;
	height: 40px;
	padding-left: 10px;
	border-radius: 0px;
	border: 2px solid #00786A;
	color: #505260;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.gpanamediv{

	font-size: 25px;
	font-family: 'Varela Round', sans-serif;
	font-style: normal;
	font-variant: normal;
	line-height: 20px;
	color: #fff;
	font-weight: normal;
	text-align: right;
	margin-right: 143px;
}